<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/normalize.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/site.css" />
    @RenderSection("styles", required: false)
    @RenderSection("Scripts", required: false)
</head>
<body>
    <div id="main-container">
        <header id="header-container">
            <a href="/Home/Index"><h1><i class="fa fa-car" aria-hidden="true"></i>car catalog</h1></a>
            <nav>
                <ul>
                    <li><a href="/cars/index">коли</a></li>
                    <li><a href="/cartypes/index">типове</a></li>
                    <li><a href="/carmakes/index">марки</a></li>
                </ul>
            </nav>
        </header>
        <main id="content-container">
            @RenderBody()
        </main>
        <footer id="footer-container">
            <h3>&copy; 2019 daniel.com</h3>
        </footer>
    </div>
</body>
</html>
